<div class="container">    
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-heading" style="text-align: center">WRISTWEARS</div>
          <div class="card-body"><a [routerLink]="['/wristwear']"><img src="/assets/Products/WristWears/Platinum Hexagon Bracelet.png" class="img-responsive" style="width:100%" alt="Image"></a></div>
          <div class="card-footer" style="font-family: cursive">Bold, versatile and strikingly unique – these platinum bracelets are perfect for you. A woman who believes victory comes from always being true to herself.</div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="card">
          <div class="card-heading" style="text-align: center">NECKWEARS</div>
          <div class="card-body"><a [routerLink]="['/neckwear']"><img src="/assets/Products/NeckWears/platinum pathways.png" class="img-responsive" style="width:100%" alt="Image"></a></div>
          <div class="card-footer" style="font-family: cursive">The extraordinary feeling of being a woman, of being you. One that can be celebrated only with the classic yet contemporary designs of these platinum necklaces.</div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="card">
          <div class="card-heading" style="text-align: center">RINGS</div>
          <div class="card-body"><a [routerLink]="['/rings']"><img src="/assets/Products/rings/platinum rings of infinity.png" class="img-responsive" style="width:100%" alt="Image"></a></div>
          <div class="card-footer" style="font-family: cursive"> Discover an assortment of platinum rings -crafted for you, a woman who celebrates being herself every day,crafted to complement the woman that you are – fearless, fierce, fabulous.</div>
        </div>
      </div>
      
    </div>
  </div><br>
  