<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-heading">Platinum Infinite Possibilities Ring</div>
        <div class="card-body"><a [routerLink]="['/home']"><img src="/assets/Products/rings/platinum infinite possibilities ring.png" class="img-responsive" style="width:100%" alt="Image"></a></div>
       <div class="content">
         <mat-card-content>
          <p style="text-align:center">
            Description<br>
           We have the stars and galaxies within us and those who realize the potential of this can achieve a seemingly unachievable victory.
	
          </p>
        </mat-card-content>
        </div>
        <mat-card-actions style="text-align: center">
          <a [routerLink]="['/order-item']">
           <button mat-raised-button color="primary">ADD TO CART</button>
           </a>
        </mat-card-actions>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-heading">Platinum Elysian Ring</div>
        <div class="card-body"><img src="/assets/Products/rings/platinum elysian ring.png" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="content">
        <mat-card-content>
          <p style="text-align:center">
            Description<br>
	  Crafted in enduring platinum, a metal that stays unchanged in form, this stunning ring comes with a striking, textured design on the surface.
	</p>
        </mat-card-content>
        </div>
        <mat-card-actions style="text-align: center">
          <a [routerLink]="['/order-item']">
          <button mat-raised-button color="primary">ADD TO CART</button>
          </a>
        </mat-card-actions>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-heading">Platinum Starfall </div>
        <div class="card-body"><img src="/assets/Products/rings/platinum starfall.png" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="content">
        <mat-card-content>
          <p style="text-align:center">
            Description<br>
            Like a stunning medley of shooting stars falling from the night sky, this piece is designed to remind you of every time you make an impression.
          </p>
        </mat-card-content>
        </div>
        <mat-card-actions style="text-align: center">
          <a [routerLink]="['/order-item']">
          
          <button mat-raised-button color="primary">ADD TO CART</button>
          </a>
        </mat-card-actions>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-heading">Platinum rings of balance</div>
        <div class="card-body"><img src="/assets/Products/rings/platinum rings of balance.png" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="content">
        <mat-card-content>
          <p style="text-align:center">
            Description<br>
           Held together by a platinum band, the two contrasting triangles portray yin and yang – reflecting the way you hold yourself together through times, good and bad.
        </p>
	</mat-card-content>
        </div>
        <mat-card-actions style="text-align: center">
          <a [routerLink]="['/order-item']">
          <button mat-raised-button color="primary">ADD TO CART</button>
          </a>
        </mat-card-actions>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-heading">Platinum Rings of Compassion</div>
        <div class="card-body"><img src="/assets/Products/rings/platinum rings of compassion.png" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="content">
        <mat-card-content>
          <p style="text-align:center">
            Description<br>
           Converging to meet from different directions, the platinum squares symbolise your fearlessness to take different paths.
	</p>
        </mat-card-content>
        </div>
        <mat-card-actions style="text-align: center">
          <a [routerLink]="['/order-item']">
          <button mat-raised-button color="primary">ADD TO CART</button>
          </a>
        </mat-card-actions>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-heading">Platinum Rings of Infinity</div>
        <div class="card-body"><img src="/assets/Products/rings/platinum rings of infinity.png" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="content">
        <mat-card-content>
          <p style="text-align:center">
            Description<br>
           Crafted in rare platinum, a diamond-studded arc intricately loops with another in this stunning ring, to represent your infinite compassion. 
	</p>
        </mat-card-content>
        </div>
        <mat-card-actions style="text-align: center">
          <a [routerLink]="['/order-item']">
          <button mat-raised-button color="primary">ADD TO CART</button>
          </a>
        </mat-card-actions>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-heading">Platinum Rings of Strength</div>
        <div class="card-body"><img src="/assets/Products/rings/platinum rings of strength.png" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="content">
        <mat-card-content>
          <p style="text-align:center">
            Description<br>
            Diamond-studded and crafted in a metal born of the stars, this stackable set portrays your strength.A zigzag pattern in the first ring symbolises the ups and downs.
	</p>
        </mat-card-content>
        </div>
        <mat-card-actions style="text-align: center">
          <a [routerLink]="['/order-item']">
          <button mat-raised-button color="primary">ADD TO CART</button>
          </a>
        </mat-card-actions>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-heading">Platinum Simply You Ring</div>
        <div class="card-body"><img src="/assets/Products/rings/platinum simply you ring.png" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="content">
        <mat-card-content>
          <p style="text-align:center">
            Description<br>
           Crafted in unwavering platinum, one of the strongest metals in the world, a diamond stud holds two lines of rare platinum in this elegantly minimal dual-tone ring.
        </p>
        </mat-card-content>
        </div>
        <mat-card-actions style="text-align: center">
          <a [routerLink]="['/order-item']">
          <button mat-raised-button color="primary">ADD TO CART</button>
          </a>
        </mat-card-actions>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-heading">Platinum Twisted Spells</div>
        <div class="card-body"><img src="/assets/Products/rings/platinum twisted spells.png" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="content">
        <mat-card-content>
          <p style="text-align:center">
            Description<br>
           You may have twists and turns in life, but you do you, that too with grace. That is what this ring signifies, being you gracefully.
	</p>
        </mat-card-content>
        </div>
        <mat-card-actions style="text-align: center">
          <a [routerLink]="['/order-item']">
          <button mat-raised-button color="primary">ADD TO CART</button>
          </a>
        </mat-card-actions>
      </div>
    </div>

  </div>
</div>