<!--<style>
h1{
  color:black;
font-family: verdana;
font-size: 500%;
}
</style>

<div class="jumbotron">
    <div class="container text-center">
      <h1>Sonnet</h1>   <br>   
      <p style="font-size:150%">Fashion is all about Aceesories</p>
    </div>
  </div>-->

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <ul class="navbar-nav">
       <li class="nav-item"><a  class="nav-link" [routerLink]="['home']"><h4>HOME</h4></a></li> 
       <li class="nav-item"><a  class="nav-link" [routerLink]="['login']"><h4>SIGNUP/LOGIN</h4></a></li>
    </ul>
</nav>

<router-outlet></router-outlet>
<footer class="container-fluid text-center"> 
    <h6>@Online Copyright</h6> 
  </footer>