.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
  }

  .payment{
    background-image: url('/assets/img/Pay.PNG');
    
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}