

<table class="table table-stripped">
    <thead>
    <tr>
        <th>UnitPrice</th>
        <th>Quantity</th>
        <th>Product ID</th>
        <th>Actions</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let orderitem of orderitems">
        <td>{{orderitem.unitPrice}}</td>
        <td>{{orderitem.quantity}}</td>
        <td>{{orderitem.productId}}</td>
        <td>
            <a [routerLink]="['/order-item']">
            <button class="btn btn-danger" style="margin-left: 10px">Delete</button>
        </a>
        </td>

    </tr>
    </tbody>
</table>