<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-heading">Platinum Anchor Necklace</div>
        <div class="card-body" ><img src="/assets/Products/NeckWears/platinum anchor necklace.png" class="img-responsive" style="width:100%" alt="Image"></div>
       <div class="content">
         <mat-card-content>
          <p style="text-align:center">
            Description<br>
            Diamond-studded at the centre, the motif beautifully anchors the triangular nature of this piece crafted in one-of-a-kind metal.
          </p>
        </mat-card-content>
        </div>
        <mat-card-actions style="text-align: center">
          <a [routerLink]="['/order-item']">
          <button mat-raised-button color="primary">ADD TO CART</button>
          </a>
        </mat-card-actions>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-heading">Platinum Aura Necklace</div>
        <div class="card-body"><img src="/assets/Products/NeckWears/platinum aura necklace.png" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="content">
        <mat-card-content>
          <p style="text-align:center">
            Description<br>
            Natural white lustre of rare platinum brings out the brightness of diamond-embellished floral motif.They come together to create an aura of positivity in this alluring necklace.
          </p>
        </mat-card-content>
        </div>
        <mat-card-actions style="text-align: center">
          <a [routerLink]="['/order-item']">
          <button mat-raised-button color="primary">ADD TO CART</button>
          </a>
        </mat-card-actions>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-heading">Platinum Chick Necklace</div>
        <div class="card-body"><img src="/assets/Products/NeckWears/platinum chic necklace.png" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="content">
        <mat-card-content>
          <p style="text-align:center">
            Description<br>
            Rectangular platinum rocks and diamond-studded platinum squares alternate to meet each other at the center, forming a chic necklace.
          </p>
        </mat-card-content>
        </div>
        <mat-card-actions style="text-align: center">
          <a [routerLink]="['/order-item']">
              <button mat-raised-button color="primary">ADD TO CART</button>
          </a>
        </mat-card-actions>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-heading">Platinum circlet Necklace</div>
        <div class="card-body"><img src="/assets/Products/NeckWears/platinum circlet necklace.png" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="content">
        <mat-card-content>
          <p style="text-align:center">
            Description<br>
            The cosmic circles in this neckpiece come together in unison symbolizing every little thing that comes together to make you, you. One of the rarest precious metals, platinum, available in select locations on earth.
          </p>
        </mat-card-content>
        </div>
        <mat-card-actions style="text-align: center">
          <a [routerLink]="['/order-item']">
          <button mat-raised-button color="primary">ADD TO CART</button>
          </a>
        </mat-card-actions>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-heading">Platinum Concentrik Rings Necklace</div>
        <div class="card-body"><img src="/assets/Products/NeckWears/platinum concentrik rings necklace.png" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="content">
        <mat-card-content>
          <p style="text-align:center">
            Description<br>
            Platinum’s density gives it its strength. This necklace crafted in such an immensely durable metal, embodies your innate strength to endure times of test and keep your loved ones tied together.
          </p>
        </mat-card-content>
        </div>
        <mat-card-actions style="text-align: center">
          <a [routerLink]="['/order-item']">
          <button mat-raised-button color="primary">ADD TO CART</button>
          </a>
        </mat-card-actions>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-heading">Platinum Crescent Necklace</div>
        <div class="card-body"><img src="/assets/Products/NeckWears/platinum crescent necklace.png" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="content">
        <mat-card-content>
          <p style="text-align:center">
            Description<br>
            Held closely together at one end and growing apart at the other, these hexagonal platinum motifs symbolise how you break free from anything that holds you back. Forming a crescent, these motifs soar upwards as they move along.
          </p>
        </mat-card-content>
        </div>
        <mat-card-actions style="text-align: center">
          <a [routerLink]="['/order-item']">
          <button mat-raised-button color="primary">ADD TO CART</button>
          </a>
        </mat-card-actions>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-heading">Platinum Crescent</div>
        <div class="card-body"><img src="/assets/Products/NeckWears/platinum crescent.png" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="content">
        <mat-card-content>
          <p style="text-align:center">
            Description<br>
            Crafted in rare platinum, a metal that never loses its natural white, the crescent-shaped motifs with a diamond arrangement, represent the phases of the moon and are symbolic of growth. A growth that comes from the fearless, fabulous woman that you are. No apologies.
          </p>
        </mat-card-content>
        </div>
        <mat-card-actions style="text-align: center">
          <a [routerLink]="['/order-item']">
          <button mat-raised-button color="primary">ADD TO CART</button>
          </a>
        </mat-card-actions>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-heading">Platinum Dancing Lines</div>
        <div class="card-body"><img src="/assets/Products/NeckWears/platinum dancing lines.png" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="content">
        <mat-card-content>
          <p style="text-align:center">
            Description<br>
            This elegant chain, crafted in rare platinum, one of the densest metals on Earth, features cylindrical platinum forms of mismatched lengths. Symbolic of life’s many highs and lows. And your decision to face them all by owning the woman you are in its purest, most unabashed form
          </p>
        </mat-card-content>
        </div>
        <mat-card-actions style="text-align: center">
          <a [routerLink]="['/order-item']">
          <button mat-raised-button color="primary">ADD TO CART</button>
          </a>
        </mat-card-actions>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-heading">Platinum Detachable Hexagonal Necklace</div>
        <div class="card-body"><img src="/assets/Products/NeckWears/platinum detachable hexagonal necklace.png" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="content">
        <mat-card-content>
          <p style="text-align:center">
            Description<br>
            A string of striking hexagonal silhouettes reflect platinum’s natural lustre that remains white year after year, aptly capturing your persevering nature towards uncertainties. The way you thoroughly embrace change with open arms through periods of change.
          </p>
        </mat-card-content>
        </div>
        <mat-card-actions style="text-align: center">
          <a [routerLink]="['/order-item']">
          <button mat-raised-button color="primary">ADD TO CART</button>
          </a>
        </mat-card-actions>
      </div>
    </div>

  </div>
</div>