<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-heading">Platinum All About You Bracelet</div>
        <div class="card-body"><a [routerLink]="['/home']"><img src="/assets/Products/WristWears/Platinum All About You Bracelet.png" class="img-responsive" style="width:100%" alt="Image"></a></div>
       <div class="content">
         <mat-card-content>
          <p style="text-align:center">
            Description<br>
            This simple yet chic bracelet crafted in rare platinum, 
            a metal that stays true to its natural white, is designed with an interwoven chain 
            and held together by a circular motif. Its rose gold circumference draws attention 
            to its platinum surface.
          </p>
        </mat-card-content>
        </div>
        <mat-card-actions style="text-align: center">
          <button mat-raised-button color="primary">ADD TO CART</button>
        </mat-card-actions>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-heading">Platinum Beaded Bracelet</div>
        <div class="card-body"><a [routerLink]="['/home']"><img src="/assets/Products/WristWears/Platinum Beaded Bracelet.png" class="img-responsive" style="width:100%" alt="Image"></a></div>
        <div class="content">
        <mat-card-content>
          <p style="text-align:center">
            Description<br>
            Just the way these diamond-studded motifs crafted in platinum extend into multiple directions, you too adapt to change, and pick a path that is best suited to changing circumstances. Your ability to be inventive is best marked with a metal that is rare, strong & stays untarnished through time. 
          </p>
        </mat-card-content>
        </div>
        <mat-card-actions style="text-align: center">
          <button mat-raised-button color="primary">ADD TO CART</button>
        </mat-card-actions>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-heading">Platinum Beaded Glory</div>
        <div class="card-body"><a [routerLink]="['/home']"><img src="/assets/Products/WristWears/Platinum Beaded Glory.png" class="img-responsive" style="width:100%" alt="Image"></a></div>
        <div class="content">
        <mat-card-content>
          <p style="text-align:center">
            Description<br>
            As a woman of today, many facets come together to make you, you. This is represented in the multi-faceted design of this interlinked piece. Where rose gold and platinum pellets come together to form a bracelet. Moreover, the fact that it is crafted in rare platinum. 
          </p>
        </mat-card-content>
        </div>
        <mat-card-actions style="text-align: center">
          <button mat-raised-button color="primary">ADD TO CART</button>
        </mat-card-actions>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-heading">Platinum Chic Bracelet</div>
        <div class="card-body"><a [routerLink]="['/home']"><img src="/assets/Products/WristWears/Platinum Chic Bracelet.png" class="img-responsive" style="width:100%" alt="Image"></a></div>
        <div class="content">
        <mat-card-content>
          <p style="text-align:center">
            Description<br>
            This bracelet with fluid lines of platinum coming together in a diamond studded centre is a statement in simplicity. A reminder that you, a woman of today, can celebrate being yourself in the simplest, most meaningful gestures.
          </p>
        </mat-card-content>
        </div>
        <mat-card-actions style="text-align: center">
          <button mat-raised-button color="primary">ADD TO CART</button>
        </mat-card-actions>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-heading">Platinum Circle Of Life</div>
        <div class="card-body"><a [routerLink]="['/home']"><img src="/assets/Products/WristWears/Platinum Circle Of Life.png" class="img-responsive" style="width:100%" alt="Image"></a></div>
        <div class="content">
        <mat-card-content>
          <p style="text-align:center">
            Description<br>
            Crafted in platinum, a metal that undergoes minimum material loss, this bracelet is held together with a smooth disk-shaped platinum motif. The unusual dash of rose-gold in the centre is a representation of life’s unexpected moments. 
          </p>
        </mat-card-content>
        </div>
        <mat-card-actions style="text-align: center">
          <button mat-raised-button color="primary">ADD TO CART</button>
        </mat-card-actions>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-heading">Platinum Dual Chained Bracelet</div>
        <div class="card-body"><a [routerLink]="['/home']"><img src="/assets/Products/WristWears/Platinum Dual Chained Bracelet.png" class="img-responsive" style="width:100%" alt="Image"></a></div>
        <div class="content">
        <mat-card-content>
          <p style="text-align:center">
            Description<br>
            Diamond studded Infinity loop holds together platinum strands to create this versatile piece. This bracelet set signifies the infinite blessings bestowed upon her that she will cherish for a lifetime. 
          </p>
        </mat-card-content>
        </div>
        <mat-card-actions style="text-align: center">
          <button mat-raised-button color="primary">ADD TO CART</button>
        </mat-card-actions>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-heading">Platinum Embellished Squares Bracelet</div>
        <div class="card-body"><a [routerLink]="['/home']"><img src="/assets/Products/WristWears/Platinum Embellished Squares Bracelet.png" class="img-responsive" style="width:100%" alt="Image"></a></div>
        <div class="content">
        <mat-card-content>
          <p style="text-align:center">
            Description<br>
            Symbols of your quiet resilience, these diamond-studded squares crafted in rare platinum represent your compassion in testing times. The band moving through them signifies the way you steer through every bend in the road.
          </p>
        </mat-card-content>
        </div>
        <mat-card-actions style="text-align: center">
          <button mat-raised-button color="primary">ADD TO CART</button>
        </mat-card-actions>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-heading">Platinum Geometrical Bracelet</div>
        <div class="card-body"><a [routerLink]="['/home']"><img src="/assets/Products/WristWears/Platinum Geometrical Bracelet.png" class="img-responsive" style="width:100%" alt="Image"></a></div>
        <div class="content">
        <mat-card-content>
          <p style="text-align:center">
            Description<br>
            A dream-like scattering of forms highlighted with diamonds. Held together by a rose gold facet, this bracelet is symbolic of you. A woman who holds together your many dreams while refusing to be anyone.
          </p>
        </mat-card-content>
        </div>
        <mat-card-actions style="text-align: center">
          <button mat-raised-button color="primary">ADD TO CART</button>
        </mat-card-actions>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-heading">Platinum Hexagon Bracelet</div>
        <div class="card-body"><a [routerLink]="['/home']"><img src="/assets/Products/WristWears/Platinum Hexagon Bracelet.png" class="img-responsive" style="width:100%" alt="Image"></a></div>
        <div class="content">
        <mat-card-content>
          <p style="text-align:center">
            Description<br>
            Embellished in diamonds, this bracelet is a testament crafted in rare platinum, a metal that descended from the cosmos. Coming full circle, it symbolizes how every act of strength by you creates a unique impact on those around. 
          </p>
        </mat-card-content>
        </div>
        <mat-card-actions style="text-align: center">
          <button mat-raised-button color="primary">ADD TO CART</button>
        </mat-card-actions>
      </div>
    </div>

  </div>
</div>